<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>¡Tu mejor opción!</p>
            <h1>Cerveceria UTN</h1>
            <p>En Cerveceria UTN vas a poder conectar con los más puros sabores y aromas de todas nuestras recetas.
                Hechas con malta seleccionada y pasión por la birra.</p>
        </div>
    </div>
</div>
<!-- Novedades -->
<div class="row my-3">
    <div id="novedades" class="col-md5 offset-md-2 scroll-section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">Nuevas
                    recetas 1</a>
            </li>
            <li>
                <a href="#"><img src="images/novedades01.jpg">Nuevas recetas 2</a>
            </li>
            <li>
                <a href="#"><img src="images/novedades01.jpg">Nuevas recetas 3</a>
            </li>
            <li>
                <a href="#"><img src="images/novedades01.jpg">Nuevas recetas 4</a>
            </li>
            <li>
                <a href="#"><img src="images/novedades01.jpg">Nuevas recetas 5</a>
            </li>
        </ul>
    </div>
</div>
<!-- Cierre testimonios -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">TITULO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Sub titulo</h3>
                <p>Cuerpo</p>
            </div>
        </div>
    </div>
</div>
<!-- cierra modal -->
<!-- Historia -->
<div id="historia" class="row align-items-center py-4 scroll-section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/historia_3.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Enclavada en el corazón de Buenos Aires, nuestra cervecería nace de una pasión inquebrantable por la
            artesanía cervecera. Fundada por Ariel Aschenmil y un equipo de apasionados maestros cerveceros en 2011, nos
            hemos embarcado en un viaje para dar vida a una experiencia única de sabores y aromas. Cada cerveza que
            elaboramos es el resultado de una cuidadosa selección de ingredientes de calidad y un proceso de elaboración
            meticuloso.</p>
    </div>
</div>
<!-- Cierra Historia -->
<!-- Nosotros -->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll-section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/nosotros01.jpg" class="card-img-top" alt="Diana Reyes">
                    <div class="card-body">
                        <h5 class="card-title">Diana Reyes</h5>
                        <p class="card-text">Diana Reyes, una pieza vital en nuestro equipo de marketing en la
                            cervecería. Con una mente creativa y un enfoque estratégico, Diana aporta una energía fresca
                            y una pasión inquebrantable por el mundo cervecero a cada proyecto en el que se involucra.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros02.jpg" class="card-img-top" alt="Nicolas Gomez">
                    <div class="card-body">
                        <h5 class="card-title">Nicolas Gomez</h5>
                        <p class="card-text">Nos complace presentarles a Nicolás Gómez, un apasionado maestro cervecero
                            que ha dedicado su vida a perfeccionar el arte de la cerveza. Con una combinación única de
                            creatividad, conocimiento técnico y un amor profundo por la cerveza.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros03.jpg" class="card-img-top" alt="Ramiro Gram">
                    <div class="card-body">
                        <h5 class="card-title">Ramiro Gram</h5>
                        <p class="card-text">Ramiro Gram, nuestro cocinero cuya pasión y creatividad culinaria han
                            dejado una huella en nuestra gastronomía. Con una habilidad innata para transformar
                            ingredientes simples en acompañamientos perfectos para nuestras cervezas.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros04.jpg" class="card-img-top" alt="Martin Alvarez">
                    <div class="card-body">
                        <h5 class="card-title">Martin Alvarez</h5>
                        <p class="card-text">Martín Álvarez, nuestro manager encargado de la gestión y el liderazgo. Con
                            una sólida experiencia en la dirección de equipos y proyectos, Martín ha demostrado una
                            habilidad innata para guiar a sus colegas hacia el éxito.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Cierra Nosotros-->
<!--Mapa y formulario-->
<div id="conocenos" class="row py-4 scroll-section">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.219408891003!2d-58.42268252356604!3d-34.598612957229946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1sen!2sar!4v1692572061797!5m2!1sen!2sar"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div> <!--cierra div id visitanos-->
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" name="tel">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{message}}</p>
    </div>

</div>